POSTGRES_USER=postgres
POSTGRES_PASSWORD=senha
POSTGRES_DB=alert-service

# Jenkins CI
NOTIFY_EMAIL=seu-email@exemplo.com
JENKINS_ADMIN_ID=admin
JENKINS_ADMIN_PASSWORD=admin
REPO_URL=https://github.com/FelipeRibeiro12/S07-SafeRoute
